/* Contenedor principal debajo del navbar */
.gestion-usuario {
  background: white;
  padding: 20px;
  border-radius: 8px;
  border-left: 28px solid #064420; /* Línea verde oscuro a la izquierda */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 900px;

  /* Centramos horizontalmente */
  margin: 40px auto; /* margen arriba y abajo, y centrado automático */
}

/* Acciones */
.acciones {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.acciones input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.acciones button {
  background-color: #064420; /* Verde oscuro */
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.acciones button:hover {
  background-color: #046307; /* Verde más vivo */
}

/* Tabla de usuarios */
.tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
}

.tabla-usuarios th,
.tabla-usuarios td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.tabla-usuarios th {
  background-color: #f4f4f4;
}

.tabla-usuarios button {
  margin-right: 5px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Botón eliminar */
.tabla-usuarios .eliminar {
  background-color: rgb(2, 58, 21);
  color: white;
}

.tabla-usuarios .eliminar:hover {
  background-color: rgb(3, 80, 30);
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Formulario de usuario */
.form-usuario {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.form-usuario input,
.form-usuario select {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.acciones-form {
  display: flex;
  justify-content: space-between;
}
.tabla-usuarios .editar {
  background-color: #064420; /* Verde oscuro, por ejemplo */
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.tabla-usuarios .editar:hover {
  background-color: #046307; /* Verde más vivo al pasar el mouse */
}

